.Container {
    display: flex;
    justify-content: space-between;    
}


.Container section img {
    height: 35em;
    width: 35em;
    border-radius: 50%;
    object-fit: cover;
    border: 1px solid var(--color-orange);
    padding: 7px;
    margin: 2em 0;
}
