.Home {
    position: absolute;
    width: 100vw;
    left: 0;
    align-content: center;
    display: inline-block;
}




.Home button {
    background-color: transparent;
    font-family: 'Comfortaa', 'cursive';
    font-size: 30px;
    border: 3px solid var(--main-font-color) ;
    padding: 10px 20px;
    height: fit-content;
    color: var(--main-font-color);
}
.Home button:hover {
    padding: 15px 25px;
    color: var(--color-orange);
    border-color: var(--color-orange);
}

.Home button.off {
    background-color: red;
}
.Home button.on{
    transition: opacity 0.5s ease;
    opacity: 1;
}

.fadein {
    background-color: red;
}    

.fadeout {    
    transition: opacity 0.5s ease;
    opacity: 0;
}
