.Intro{
    white-space: normal;
    position: relative;
    line-height: 2em;
    display: flex;
    justify-content: center;
    height: 100vh;
    margin-top : 70vh;
}
.Intro strong{
    font-family: 'Times New Roman';
    font-size: large;
}
.Intro button{
    font-family: 'Times New Roman';
    font-size: large;

}
