.Container {
    width: 40em;
    /* padding :2em 1em; */
}
.Container div{
    margin: 2em 0;
}

.Container h3{
    font: bolder;
    font-size: x-large;
}

.Container p {
    line-height: 2em;
    font-size: large;
}

.Container div img{
    position: absolute;
    width: 20em;
    height: 30rem;
    padding: 5px;
    border: 3px solid var(--color-orange);
}
